.row-fluid
	.info
		.controls
			- if @work.previous
				= link_to '< Prev.', @work.previous
				%p - 
			- if @work.next
				= link_to 'Next >', @work.next
		%p.detail #{@work.name} - #{@work.detail}
.row
	%ul.thumbnails
		-if @cover
			- @cover.each do |image|
				%li.span
					= image_tag(image.file.url(:large))
		-else
			%h3 NO COVER FOR THIS PROJECT.
	%ul.thumbnails
		- @work.images.each do |image|
			%li.span
				= image_tag(image.file.url(:small))
